{% extends 'base.html' %}
{% load static %}

{% block content %}
    <div class="product-grid">
        {% for product, main_image in products_with_main_image %}
            <div class="product-item">
                <div class="image-container">
                    {% if main_image %}
                        <img src="{{ main_image.image.url }}" alt="{{ product.name }}" class="product-image">
                    {% else %}
                        {% if product.images.first %}
                            <img src="{{ product.images.first.image.url }}" alt="{{ product.name }}" class="product-image">
                        {% else %}
                            <p>No image available</p>
                        {% endif %}
                    {% endif %}
                </div>
                <div class="product-info">
                    <p class="product-title">{{ product.name }}</p>
                    <p class="product-info">{{ product.product_type }}</p>
                    <h1 class="product-price">{{ product.price }} ₽</h1>
                    <button class="add-to-cart">В КОРЗИНУ</button>
                </div>
            </div>
            {% if forloop.counter|divisibleby:3 and not forloop.last %}
                </div><div class="product-grid">
            {% endif %}
        {% endfor %}
    </div>
{% endblock %}

{% block product_type %}

{% endblock %}

{% block menu %}
<aside class="sidebar">
    <nav class="vertical-menu">
        <ul>
            <li><a href="#type1">Тип 1</a></li>
            <li><a href="#type2">Тип 2</a></li>
            <li><a href="#type3">Тип 3</a></li>
            <li><a href="#type4">Тип 4</a></li>
        </ul>
    </nav>
</aside>
{% endblock %}