{% extends 'base.html' %}

{% block content %}
1
{{ product.image_url }}
{{ product.name }}
{{ product.url }}
{{ product.price }}
<ul>
    {% for product in product_list %}
        <li>{{ product.name }}</li>
    {% endfor %}
</ul>
<div>
    {% for product in products %}
            <img src="{{ product.image_url }}" alt="{{ product.name }}" style="width: 100%; height: auto;" />
            <h5>{{ product.name }}</h5>
            <p>Цена: ${{ product.price }}</p>
            <a href="{{ product.url }}">View options</a>
    {% endfor %}
</div>
{% endblock %}