body {
  background-color: #f8f8f8;
  margin: 0;
  font-family: sans-serif;
}

.header {
  background-color: rgb(255, 255, 255); /* Полупрозрачный белый фон */
  width: 100%; /* Задать ширину во всю ширину окна */
  position: relative; /* Для правильного позиционирования при скролле */
}

.navbar {
  display: flex;
  justify-content: space-between; /* Размещает элементы по краям */
  align-items: center; /* Выравнивание по центру по вертикали */
  padding: 10px 20px; /* Поля внутри header */
}

.image-header {
  width: 100%; /* Полная ширина контейнера товара */
  height: 300px; /* Фиксированная высота контейнера */
  overflow: hidden; /* Скрываем все, что выходит за пределы контейнера */
}

.logo {
  flex-grow: 1; /* Занимает оставшееся пространство */
  display: flex; /* Добавляем flex-контейнер для центрирования */
  justify-content: center; /* Центрируем содержимое по горизонтали */
  padding-left: 100px; /* Отступ слева в 2 пикселя */
}

.shop-logo {
  max-height: 40px; /* Ограничение высоты логотипа */
  margin-left: 2px; /* Если нужно, добавляем отступ для логотипа */
}

.navigation-icons {
  display: flex; /* Используем flex для горизонтального расположения иконок */
  align-items: center; /* Центрируем иконки по вертикали */
  margin-left: auto; /* Сдвигаем иконки вправо */
}

.icon img {
  width: 20px; /* Ширина иконки */
  height: 20px; /* Высота иконки */
}
/* Стили для основного меню */
.main-menu {
  position: absolute; /* Заменяем fixed на absolute */
  width: 100%; /* Задает ширину во всю ширину окна */
  background-color: rgb(255, 255, 255); /* Полупрозрачный белый фон */
  padding: 10px 0; /* Поля сверху и снизу */
  backdrop-filter: blur(10px); /* Размытие фона под заголовком */
  -webkit-backdrop-filter: blur(10px); /* Поддержка для Safari */
  display: flex; /* Используем flex для размещения элементов в строку */
  justify-content: space-between; /* Распределяем пространство между пунктами меню и иконками */
  align-items: center; /* Центрируем элементы по вертикали */
  top: 0; /* Прикрепляем к верхней части экрана */
}

.menu-items {
  display: flex; /* Используем flex для горизонтального расположения пунктов меню */
  gap: 25px; /* Расстояние между пунктами */
  justify-content: center; /* Центрируем меню */
  flex-grow: 1; /* Позволяет меню занимать доступное пространство */

}

.main-menu:not(.fixed) {
  margin-top: 60px; /* Устанавливаем отступ только для обычного состояния */
}

.main-menu.fixed {
  position: fixed; /* Закрепляет элемент на экране */
  background-color: rgba(255, 255, 255, 0.295); /* Полупрозрачный белый фон */
  top: 0; /* Прикрепляет к верхней части окна */
  left: 0; /* Прикрепляет к левому краю окна */
  right: 0; /* Расширяем до правого края окна */
  z-index: 1000; /* Увеличивает порядок наложения */
}

.main-menu ul {
  list-style: none; /* Убираем маркеры списка */
  display: flex; /* Горизонтальное расположение пунктов меню */
  justify-content: center; /* Центрируем меню */
  gap: 20px; /* Расстояние между пунктами */
  margin: 0; /* Убираем отступы снизу у ul */
  padding: 0; /* Убираем отступы у ul */
}

.main-menu a {
  text-transform: uppercase;
  font-family: Sans-serif;
  text-decoration: none; /* Убираем подчеркивание */
  color: black; /* Цвет текста */
  padding: 10px 15px; /* Поля вокруг текста */
  position: relative; /* Для позиционирования выпадающего меню */
  transition: color 0.3s, font-weight 0.3s; /* Плавный переход цвета текста при наведении */
}

.main-menu a:hover {
  color: #1b1b1b; /* Цвет текста при наведении */
  font-weight: bold; /* Жирный текст при наведении */
}

.main-menu li {
  position: relative;
}

.icon {
  margin-left: 20px; /* Отступ между иконками при отображении в меню */
}

.image-container {
  display: flex; /* Используем flexbox для центрирования */
  justify-content: center; /* Центрируем содержимое по горизонтали */
  align-items: center; /* Центрируем содержимое по вертикали (если высота задана) */
}

.centered-image {
  max-width: 100%; /* Чтобы изображение не выходило за пределы родителя */
  height: auto; /* Соотношение сторон изображения */
}

.product-grid {
  gap: 10px; /* Add 10px horizontal gap between items */
  display: flex;
  flex-wrap: wrap; /* Позволяет переносить элементы на следующий ряд */
}

.product-item {
  width: 300px; /* Фиксированная ширина для карточек товаров */
  height: 460px; /* Фиксированная высота для карточек товаров */
  overflow: hidden; /* Скрыть содержимое, выходящее за пределы */
  background-color: #f8f8f8; /* Цвет фона */
  position: relative; /* Для кнопок или других элементов */
  transition: box-shadow 0.3s; /* Плавный переход для тени (при наведении) */
  margin-bottom: 5px; /* Add 5px vertical gap between items */
}

.product-item:hover {
  background-color: #ffffff; /* Цвет фона */
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.2); /* Тень при наведении на товар */
  transition: transform 1s ease; /* Параметры анимации */
}

.product-item:hover .add-to-cart {
  display: block; /* Показать кнопку при наведении на элемент товара */
}

.product-image {
  width: auto; /* Изображение занимает 100% ширины контейнера */
  height: 100%; /* Сохраняем соотношение сторон */
  object-fit: cover;
}

.product-item:hover .image-container {
  transform: scale(1.05); /* Увеличиваем на 10% при наведении на элемент товара */
}

.product-info {
  margin-top: 10px; /* Отступ сверху для информации о товаре */
}

.product-title {
  font-family: Sans-serif;
  margin-left: 10px;
  font-size: 16px; /* Размер шрифта для названия товара */
  color: #000000; /* Цвет текста */
}

.product-price {
  font-family: Sans-serif;
  margin-left: 10px;
  font-size: 18px; /* Размер шрифта для цены */
  color: #000000; /* Цвет для цены */
}

.product-info {
  font-family: Sans-serif;
  margin-left: 10px;
  font-size: 14px; /* Размер шрифта для цены */
  color: #838383; /* Цвет для цены */
}

.image-container {
  display: flex; /* Используем флекс для выравнивания */
  display: flex; /* Используем флекс для выравнивания */
  align-items: center; /* Центрируем изображение по вертикали */
  background-color: #ffffff; /* Цвет фона */
  width: 100%; /* Полная ширина контейнера товара */
  height: 300px; /* Фиксированная высота контейнера */
  overflow: hidden; /* Скрываем все, что выходит за пределы контейнера */
  position: relative; /* Необходимо для псевдоэлемента */
  transition: transform 1s ease; /* Параметры анимации */
}

.add-to-cart {
  display: none; /* Скрыть кнопку по умолчанию */
  margin-top: 10px; /* Отступ сверху для кнопки */
  margin-left: 1%;
  padding: 10px; /* Отступы для кнопки */
  font-family: Sans-serif;
  background-color: #000000; /* Цвет кнопки */
  color: white; /* Цвет текста кнопки */
  border: none; /* Убираем обводку кнопки */
  cursor: pointer; /* Изменяем курсор при наведении */
  width: calc(98% - 10px); /* Растянуть кнопку на всю ширину родительского блока */
  border-radius: 3px; /* Скругление углов */
}

.container_main {
  display: flex; /* Используйте flexbox для выравнивания */
}

.sidebar {
  width: 200px; /* Ширина бокового меню */
  background-color: #f4f4f4; /* Цвет фона для бокового меню */
}

.vertical-menu {
  padding: 20px;
}

.vertical-menu ul {
  list-style: none; /* Уберите маркеры списка */
  padding: 0;
}

.vertical-menu li {
  margin-bottom: 10px;
}

.content {
  flex: 1; /* Занимает оставшееся пространство */
  padding: 20px;
}

main {
  display: flex; /* Используем flexbox для родительского блока */
  justify-content: center; /* Центрируем содержимое по горизонтали */
}


.sidebar {
  width: 250px;
  background-color: #f8f8f8;
  padding: 20px;
  margin: 20px;
  border-radius: 5px;
}

.vertical-menu {
  padding: 20px;
}

.vertical-menu ul {
  list-style: none;
  padding: 0;
}

.vertical-menu li {
  margin-bottom: 10px;
}

.vertical-menu li a {
  text-decoration: none;
  color: #333;
  padding: 10px;
  display: block;
  border-radius: 5px;
}

.vertical-menu li a:hover {
  color: #141414;
}

/* Стили для модального окна */
.modal {
  display: none; /* Скрыто по умолчанию */
  position: fixed; /* Остаётся на месте при прокрутке */
  z-index: 1; /* Ставим поверх остальных элементов */
  left: 0;
  top: 0;
  width: 100%; /* 100% ширины */
  height: 100%; /* 100% высоты */
  overflow: auto; /* Включает прокрутку, если это необходимо */
  background-color: rgba(0, 0, 0, 0.4); /* Фон с эффектом затемнения */
}

.modal-content {
  background-color: #fefefe;
  margin: 10% auto; /* Уменьшено по высоте */
  padding: 20px;
  border: 1px solid #888;
  width: 50%; /* Уменьшена ширина модального окна */
  max-width: 400px; /* Максимальная ширина */
  border-radius: 10px; /* Скругление углов */
  position: relative; /* Для позиционирования закрывающего крестика */
}

h2 {
  text-align: center; /* Центрирование заголовка */
}

.close {
  color: #aaa;
  float: right; /* Размещение в правом углу */
  font-size: 28px; /* Увеличенный размер крестика */
  font-weight: bold;
  position: absolute; /* Позиционирование относительно контейнера */
  top: 10px; /* Отступ сверху */
  right: 15px; /* Отступ справа */
  cursor: pointer; /* Курсор указателя при наведении */
}

.close:hover, .close:focus {
  color: black; /* Цвет при наведении */
  text-decoration: none; /* Убираем подчеркивание */
  cursor: pointer; /* Курсор указателя при наведении */
}

input[type="text"], input[type="password"] {
  width: 3px; /* Ширина полей ввода на 90% */
  padding: 10px; /* Поля внутри ввода */
  margin: 10px 0; /* Отступы между полями и кнопкой */
  border: 1px solid #ccc; /* Обводка поля ввода */
  border-radius: 5px; /* Скругление углов поля ввода */
  font-size: 16px; /* Увеличение размера текста */
}

button[type="submit"] {
  font-family: Sans-serif;
  background-color: #000000; /* Цвет кнопки */
  color: white; /* Цвет текста кнопки */
  border: none; /* Убираем обводку кнопки */
  cursor: pointer; /* Изменяем курсор при наведении */
  border-radius: 3px; /* Скругление углов */
  padding: 10px 15px; /* Поля кнопки */
  font-size: 16px; /* Увеличение размера текста кнопки */
  width: 400px; /* Ширина кнопки на 100% */
}

/* Стили для текстовых и парольных полей */
input[type="text"], input[type="password"] {
  width: 400px; /* Установите ширину полей ввода */
  padding: 10px; /* Поля внутри ввода */
  margin: 10px 0; /* Отступы между полями и кнопкой */
  border: 1px solid #ccc; /* Обводка поля ввода */
  border-radius: 5px; /* Скругление углов поля ввода */
  font-size: 16px; /* Увеличение размера текста */
}

/* Дополнительные стили, если необходимо */
.form-group {
  margin-bottom: 15px; /* Отступы сопредельных полей */

}

.your-input-class {
  width: 400px;
  padding: 10px;
  margin: 10px 0;
  border: 1px solid #ccc;
  border-radius: 5px;
  font-size: 16px;
}