{% extends 'base.html' %}

{% block title %}
Личный кабинет
{% endblock %}

{% block content %}
<form method="POST">
    {% csrf_token %}
    {{ form.as_p }}  <!-- Отображаем форму -->
    <button type="submit">Сохранить изменения</button>
</form>
<a href="{% url 'users:logout' %}">Выйти</a>
{% endblock %}

{% block menu %}
<aside class="sidebar">
    <nav class="vertical-menu">
        <ul>
            <li><a href="/users/profile/">Личный кабинет</a></li>
            <li><a href="/orders/orders/">Заказы</a></li>
            <li><a href="/orders/cart/">Корзина</a></li>
        </ul>
    </nav>
</aside>
{% endblock %}